<?xml version="1.0"?>
<model>
  <name>diff_drive_robot</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Vivaan Vora</name>
    <email>Vivaan-Vora@users.noreply.github.com</email>
  </author>
  <description>
    Differential drive robot with Gazebo drive, odometry, and IMU sensor plugins.
  </description>
</model>
